
html {
  font-family: "Sans Serif Calibri", serif;
}

body {
  text-align: center;
}

.answer {
  size= "30";
}

input[type="text"] {
  font-size: 20px;
}

.correct {
  font-size: 20px;
}

p:first-of-type {
  font-weight: bold;
}
