
html {
  font-family: "Helvetica", sans-serif;
}

body {

}

h1 {
  font-size: 75px;
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
  padding-bottom: 50px;
}

.answer {
  size= "30";
}

input[type="text"] {
  font-size: 20px;
}

.correct {
  font-size: 20px;
  font-weight: 200;
}

p:first-of-type {
  font-weight: bold;
}

form {
  margin-left: 15%;
}

#instructions {
  padding-top: 50px;
  margin-left: 15%;
}

#feedback {
  margin-left: 15%;
  font-weight: bold;
  color: red;
}


/* Everything Dialog Box */


/* Outer container of the dialog box */
.ui-dialog {
  border-style: none;
  border-radius: 5%;
  margin: 10px 10px;
  padding: 30px 30px;
  margin-bottom: 0px;
  background-color: #dff4f5;
}

.ui-dialog p {
  font-weight: normal;
}
/* Buttons */
.ui-dialog-buttonpane {
  width: 100%;
}
.ui-dialog-buttonset button{
  padding-left: 0px;
  padding-right: 0px;
  margin: 3px;
  width: 48%;
  height: 30%;
}

.ui-dialog-titlebar-close {
  background-color: #4CAFB0;
  border-radius: 5%;
}

/* body :not(.unblurred), body :not(.unblurred) * {
  -webkit-filter: blur(2px);
  filter: blur(2px);
} */

/* .unblurred {
-webkit-filter: blur(-2px);
-moz-filter: blur(-2px);
-o-filter: blur(-2px);
-ms-filter: blur(-2px);
filter: blur(-2px);
} */
/* .no-close .ui-dialog-titlebar-close {
  display: none;
} */

/* ********** */

form input{
  font-size: 15px;
  padding: 16px 25px;
  margin: 4px 2px;
  box-sizing: border-box;

}

label {
  font-size: 17px;
}

#submit {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}


button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

h1 {
  margin-bottom: 30px;
}

h3 {
  padding-top: 15px;
  font-weight: 100;
  padding-bottom: 15px;
}

#next{
  width: 48%;
  background-color: #4CAFB0;
}
#home {
  width: 48%;
}


#wrong {
  color: red;
  font-weight: bold;
}

#right {
  color: #4CAF50;
  font-weight: bold;
}

#author {
  position: absolute;
  bottom: 0;
  right: 10px;
}

#scan-instructions {
  width:75%;
}
